/*https://bytewebster.com/*/
/*https://bytewebster.com/*/
/*https://bytewebster.com/*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");

*{
  padding: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 3rem !important;
  font-family: "Lobster";
}

nav{
  display: flex !important;
  justify-content: space-between !important;
}

.coffeePlace{
  display: flex;
  align-items: end;
}

.links{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10rem;
  font-size: 2rem;
}

.links input {
  border-left: 0; 
  border-top: 0; 
  border-right: 0; 
  border-bottom: 1px solid black;
}

.union{
  display: flex !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.union a{
  display: flex !important;
  text-align: center !important;
  align-items: center !important;
  text-decoration: none;
  color: black;
}

section {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
  height: 600px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

/* todo -- MAIN -- */

.container{
  display: grid; 
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  gap: 7rem;
  padding-top: 2rem;
}

.container .panel{
  background-image: url(../assets/imgs/inicio/Rectangle\ 38.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 3rem;
  margin-top: 1rem;
  height: 780px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container .panel h2{
  display: flex;
  font-size: 3.4rem;
  justify-content: center;
  text-align: center;
} 

.container ul{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 2rem;
}

.container .panel li{
  list-style: none;
  font-size: 2.4rem;
}

.container .panel a{
  text-decoration: none;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  width: 300px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .4s;
}

.container .panel a:hover, a:focus {
  background-size: 200% 2px;
}

.container .panel p{
  text-align: center;
  margin: 2rem;
}